@model Web.Models.StatusDokumenta

@{
    ViewData["Title"] = "Delete";
}

<h2>Brisanje</h2>

<h3>Sigurno &#382;elite obrisati?</h3>
<div>
    <h4>StatusDokumenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Ukloni" class="btn btn-default" /> |
            <a asp-action="Index">Povratak na popis</a>
        </div>
    </form>
</div>
